@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body, #the-universe, .app-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: #373c64; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  width: 100%;
  border-radius: 0;
  background-color: #ccc; }

sup {
  font-size: 10px; }

.card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-2 {
  z-index: 300;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.navbar-container {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar-container .search-container {
    display: flex;
    align-content: center; }
    .navbar-container .search-container input {
      border-radius: 0;
      height: 50px;
      width: 160px;
      font-size: 20px;
      padding-left: 15px;
      border: 0; }
      @media only screen and (max-width: 840px) {
        .navbar-container .search-container input {
          width: 140px;
          font-size: 16px; } }
      .navbar-container .search-container input:focus {
        outline: none; }
  .navbar-container .profile-info-container {
    height: 100%;
    width: 240px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    border-left: 1px solid #ababab;
    cursor: pointer;
    transition: 0.2s; }
    @media only screen and (max-width: 667px) {
      .navbar-container .profile-info-container {
        width: 80px; }
        .navbar-container .profile-info-container h4 {
          display: none !important; } }
    .navbar-container .profile-info-container:hover {
      background-color: #efefef; }
      .navbar-container .profile-info-container:hover img {
        width: 40px; }
    .navbar-container .profile-info-container img {
      width: 35px;
      border-radius: 100%;
      border: 3px solid #f06672;
      display: inline-block;
      margin-right: 10px;
      transition: 0.2s; }
    .navbar-container .profile-info-container h4 {
      display: inline-block;
      font-weight: 400; }

.divider-title {
  width: 100%;
  float: right;
  height: 40px;
  background-color: #990eff;
  color: #fff;
  position: relative;
  display: none;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  @media only screen and (max-width: 840px) {
    .divider-title {
      display: block; } }
  .divider-title h2 {
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.home-list-container {
  display: inline-block;
  width: 50%;
  height: calc(100% - 50px);
  float: left;
  flex-wrap: wrap;
  overflow-y: auto; }
  @media only screen and (max-width: 1200px) {
    .home-list-container {
      width: 60%; } }
  @media only screen and (max-width: 840px) {
    .home-list-container {
      width: 100%;
      height: 50%; } }
  .home-list-container .list-items-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    background-color: #ebebeb; }
    .home-list-container .list-items-container .list-item {
      width: 46%;
      margin-top: 15px;
      margin-bottom: 15px;
      background-color: #fff;
      cursor: pointer; }
      @media only screen and (max-width: 520px) {
        .home-list-container .list-items-container .list-item {
          width: 90%; } }
      .home-list-container .list-items-container .list-item .img-container {
        width: 100%;
        position: relative;
        overflow: hidden;
        font-size: 0; }
        .home-list-container .list-items-container .list-item .img-container .img-title-background {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 30px;
          background-color: #990eff;
          opacity: 0.6;
          z-index: 100; }
        .home-list-container .list-items-container .list-item .img-container p {
          position: absolute;
          bottom: 6px;
          left: 8px;
          color: #fff;
          z-index: 110;
          font-size: 16px; }
        .home-list-container .list-items-container .list-item .img-container img {
          width: 100%;
          transition: 0.25s; }
      .home-list-container .list-items-container .list-item__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px; }
        .home-list-container .list-items-container .list-item__content-body {
          padding: 8px;
          display: flex;
          flex-direction: column;
          justify-content: space-around; }
          .home-list-container .list-items-container .list-item__content-body h3 {
            font-size: 16px;
            color: #373c64;
            font-weight: 500; }
      .home-list-container .list-items-container .list-item:hover img {
        transform: scale(1.1); }

.map-container {
  display: inline-block;
  width: 50%;
  height: calc(100vh - 50px);
  float: right; }
  @media only screen and (max-width: 1200px) {
    .map-container {
      width: 40%; } }
  @media only screen and (max-width: 840px) {
    .map-container {
      width: 100%;
      height: 50%; } }

.overlay {
  display: none;
  width: 300px;
  background-color: #fff; }
  .overlay .overlay-img {
    width: 100%;
    position: relative;
    overflow: hidden;
    font-size: 0;
    border-radius: 5px;
    border: 3px solid #990eff; }
    .overlay .overlay-img p {
      position: absolute;
      bottom: 6px;
      left: 8px;
      color: #fff;
      z-index: 110;
      font-size: 16px; }
    .overlay .overlay-img .img-title-background {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 30px;
      background-color: #990eff;
      opacity: 1;
      z-index: 100; }
  .overlay-body h3 {
    font-size: 16px;
    color: #373c64;
    font-weight: 500; }
